
<h3>Registrar Socio</h3>
<div>
    <form (ngSubmit)="save()">

        <div class="form-group">
            <label for="nombre"> Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]= "socio.nombre" name ="nombre">
        </div>
        <div class="form-group">
            <label for="email"> Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]= "socio.email" name ="email">
        </div>
        <div class="form-group">
            <label for="direccion"> Direccion</label>
            <input type="text" class="form-control" id="direccion" [(ngModel)]= "socio.direccion" name ="direccion">
        </div>
        <div class="form-group">
            <label for="numeroDependientes"> numeroDependientes</label>
            <input type="text" class="form-control" id="numeroDependientes" [(ngModel)]= "socio.numeroDependientes" name ="numeroDependientes">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>

</div>
