<div class="card border-dark mb-3">
    <div class="card-header">Socios</div>
    <div class="card-body text-black">
        <h5 class="card-title">Listado de Socios</h5>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>numeroDependientes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of socio">
                    <th>{{s.idSocio}}</th>
                    <th>{{s.nombre}}</th>
                    <th>{{s.email}}</th>
                    <th>{{s.direccion}}</th>
                    <th>{{s.numeroDependientes}}</th>
                    <div class="form-group">
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

</div>
